* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
  }

.inside {
    z-index: 0;
}

.modebar-container {
    display: none;
}

td {
    font-size: 11px;
}


.y-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.x-y-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wr-40 {
    width: 40%
}

.wr-60 {
    width: 60%
}

.tablesorter  td:nth-child(1),
.tablesorter  td:nth-child(2),
.tablesorter  td:nth-child(3),
.tablesorter  td:nth-child(4),
.tablesorter  td:nth-child(5),
.tablesorter  td:nth-child(6),
.tablesorter  td:nth-child(7)
{
  width : 5% !important;
  min-width : 10px !important;
}

@media all {


    .row-container {
        margin: 10px 10px 10px 10px;
        width: 100%;
    }

    .content {
        margin: 0 auto;
        width:100%;
        
    }

    .row {
        position: relative;
    }

    div {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    
}


@media (min-width: 1100px) {



    .chart-container {
        position: absolute;
        height:100%;
    }

    #option-container {
        height:10%;
    }

    #chart-container {
        height: 90%;
    }

    .plot-container, .svg-container, .flexible-box {
        height:100%;
    }

    main, .row-container {
        height: 92%;
    }

    .table-responsive {
        max-height: 80vh;
    }

    .row-container {
        display: flex;
        width: 95vw;
        
    }
    
    .flexible-box {
        padding: 15px;
        margin : 0px;
        max-height: 90vh;
    }

    .width-row-40 {
        position:absolute;
        width: 100%;
    }
    .width-row-60 {
        position:absolute;
        width: 100%;
    }

    .table-responsive table {
        height: 100%;
    }
    
}

@media (min-width: 570px) and (max-width: 1100px) {
    .row-container {
        display: grid;
        width: 94vw;
    }

    .flexible-box {
        padding: 15px;
        margin: 0px;
        min-height: auto;
        width: 94vw;
        /* posisi konten*/
        align-content: center;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .width-row-40 .width-row-60 {
        width: 100%;
    }

    th {
        font-size: 11px;
    }
    
    td {
        font-size: 11px;
    }

    .table-responsive {
        max-height: 500px;
    }
}

@media (min-width: 150px) and (max-width: 570px) {
    .row-container {
        display: grid;
        width: 90vw;
    }
    .flexible-box {
        padding: 12px;
        margin: 0px;
        min-height: auto;
        width: 90vw;
        /* posisi konten*/
        align-content: center;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .width-row-40 .width-row-60 {
        width: 100%;
    }

    th {
        font-size: 9px;
    }
    
    td {
        font-size: 9px;
    }

    .table-responsive {
        max-height: 400px;
    }
}